#header
    height: $header-height
    background-color: $theme-colors["primary"]
    color: $font-colors["secondary"]
    padding: 0px 25px

    .header__col
        float: left
        line-height: $header-height
        font-size: 1.3rem
        font-weight: bold
        width: 50%
        height: $header-height